.progress-circle__bg {
  fill: none;
  stroke: #eee;
}

.progress-circle__progress {
  fill: none;
  stroke: #991b1b;
  stroke-linecap: round;
  transition: stroke-dashoffset 1s ease-out;
}

.progress-circle__text {
  font-size: 1.5rem;
  fill: #000;
}